[submodule "elpa-to-submit/flymake-python"]
	path = elpa-to-submit/flymake-python
	url = git://github.com/t0ster/flymake-python.git
[submodule "elpa-to-submit/coffee-mode"]
	path = elpa-to-submit/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "elpa-to-submit/scss-mode"]
	path = elpa-to-submit/scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule "elpa-to-submit/pony-mode"]
	path = elpa-to-submit/pony-mode
	url = git://github.com/davidmiller/pony-mode.git
