[submodule "elpa-to-submit/flymake-python"]
	path = elpa-to-submit/flymake-python
	url = git@github.com:t0ster/flymake-python.git
[submodule "elpa-to-submit/coffee-mode"]
	path = elpa-to-submit/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
